

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100vw;
  
}

.main div {
    height: 300px;
    width: 300px;
    background-color: rgba(229, 127, 132, 0.9);
    border-radius: 5%;
    box-shadow: var(--shadow);
}

.main div:focus, .main div:hover {
    transform: scale(1.1);
}




@media screen and (min-width: 992px) {
    .main {
    width: 60vw;
        margin-top: 1.5rem;
        position: relative;
        left: 40vw;
}
}