

.task1 h2 {
    margin-top: 15rem;
    text-align: center;
    color: var(--coral)
}

.task1 form {
    background-color: rgb(0,0,0,0.8);
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    height: 40vh;
    border-radius:1.5rem ;
    text-align: center;


}

.task1 form div {
    margin: 0.5rem;
    
}

.task1 form label {
    margin: 0.5rem;
}

.task1 form button {
    margin: 0.5rem;
    color: rgba(0,0,0,0.8) 
}

.task1 form button:focus, .task1 form button:active, .task1 form button:hover {
    background-color:rgba(0,0,0,0.8);
    color: var(--ivory) 
}

@media screen and (min-width: 992px) {
  .task1 {
    text-align: center;
    width: 60vw;
    margin-top: 1.5rem;
    position: relative;
    left: 40vw;
  }
  .task1 h2 {
    margin-top: 0;
  }
}
