

.task h2 {
    margin-top: 15rem;
    text-align: center;
    color: var(--coral)
}

.task form {
    background-color: rgb(0,0,0,0.8);
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    height: 40vh;
    border-radius:1.5rem ;
    text-align: center;


}

.task form div {
    margin: 0.5rem;
    
}

.task form label {
    margin: 0.5rem;
}

.task form input {
    border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   
}

.task form button {
    margin: 0.5rem;
    color: rgba(0,0,0,0.8) 
}

.task form button:focus, .task form button:active, .task form button:hover {
    background-color:rgba(0,0,0,0.8);
    color: var(--ivory) 
}

.task .link a {
  margin-top: 1.5rem;
  border: 2px solid var(--coral);
  display: inline-block;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  color: var(--coral)
}

.task .link a:focus, .task .link a:active, .task .link:hover {
  background-color: var(--coral);
  border: 2px solid var(--ivory);
  color: var(--ivory);
}

@media screen and (min-width: 992px) {
  .task {
    text-align: center;
    width: 60vw;
    margin-top: 1.5rem;
    position: relative;
    left: 40vw;
  }
  .task h2 {
    margin-top: 0;
  }
}
