:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  --coral: #E57F84;
  --coral-mono: #DC555B;
  --ivory: #F4EAE6;
  --shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--coral-mono);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--ivory);
  color: var(--ivory);

}

h2 {
  color: black;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--ivory);
  cursor: pointer;
  color: var(--coral);
  transition: color 0.25s;
}
button:hover {
  background-color: #e7868b;
  color: var(--ivory);
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.muiIcons {
  font-size: 10em !important;
  color: var(--ivory)
}



@media screen and (min-width: 992px){
  #root {
    display: flex;
  }
}